body {
	min-height:1000px;
}

ul {
	list-style:none;
	background:#991199;
	margin:20px 0;
	padding:0;
	position:sticky;
	top:0;
}

li {
	display:inline-block;
	padding:10px 0 10px 15px;
}

a {
	color:white;
	text-decoration:none;
}