section {
	width:22%;
	padding:10px;
	margin:auto;
}
div {
	display:inline-block;
	border:1px solid black;
	padding:5px;
	width:20px;
	height:20px;
	text-align:center;
	line-height:20px;
	border-radius:20px;
	margin-right:10px;
	cursor:pointer;
}

.arrow {
	width:60px;
}

div:hover {
	background:#FF6014;
	color:white;
	border:1px solid transparent;
}

div:nth-child(5) {
	margin-right:0;
}



