body {
	background:#B9E36D;
	width:100%;
}

form {
	background:white;
	width:300px;
	padding:30px;
	margin:auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-sizing:border-box;
}

input {
	display:block;
	margin:auto;
	padding:10px 10px;
	width:100%;
	box-sizing:border-box;
}

.place {
	
	margin-bottom:15px;
}