@keyframes ball {
	0% {left:0; top:0;  }
	20% {left:450px; top:150px;}
	40% {left:0; top: 300px;}
	60% {left:250px; top:400px;}
	80% {left:450px; top:250px;}
	100% {left:0; top:0;}
}

.ball {
	position:relative;
	width:50px;
	height:50px;
	border-radius:50%;
	background-image:radial-gradient(white,#FFCC00);
	margin-top:50px;
	animation: ball 3s linear 0s infinite alternate both;
}

.wall {
	width:500px;
	height:500px;
	margin:auto;
	border:5px solid grey;

}