body {
	background: url(travolta.jpg) no-repeat;
	background-size:cover;
}

.transparent {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:rgba(0, 0, 0, 0.7);
}

.error {
	position:relative;
	color:#F0F0F0;
	font-size:200px;
	font-weight:normal;
	top:200px;
	font-weight:normal;
	text-align:center;
}

	
