div {
	font:16px/1.5 Oswald, sans-serif;
	margin:1rem;
}

span {
	background: #FADFAD;
	padding:3px 10px;
}

span:nth-child(1) {
	font-weight: 300;
}

span:nth-child(2) {
	font-weight: 400;
}

span:nth-child(3) {
	font-weight: 500;
}

span:nth-child(4) {
	font-weight: 700;
}

span:nth-child(5) {
	font-weight: 900;
}