@keyframes vinil {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

div {
	width:100px;
	height:100px;
	border:1px solid black;
	border-radius: 50px;
	background-image: radial-gradient(#000000 2%,#000000 3%, #CB2821 3%,  #CB2821 25%, #131313 20%);
	text-align:center;
	animation:vinil 2s linear 0s infinite;
	disp
}

span {

	font:small-caps 20px/1.5 Arial, sans-serif;
	color:white;
	

}

