body {
	background:#1E2460;
	
}

form {
	background:#354D73;
	margin:20px;
	box-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
	padding:20px;
	border:1px solid #4D7198;
}

div {
	margin-bottom:15px;
}

label {
	color:#82A6D9;
	width:100px;
	float:left;
	text-align:right;
	margin-right:10px;
}

input, textarea {
	background:#1D2F62;
	color:#B8C3E5;
	width:300px;
	border:none;
	padding:5px;
	box-shadow:inset -2px -2px 2px #425575;
}

textarea {
	height:100px;
	overflow:hidden;
}

button {
	padding:10px 20px;
	background:#0C1327;
	color:#354D73;
	border:none;
	font-weight:900;
	margin-left:110px;
	text-transform:uppercase;
	cursor:pointer;
}


