figure {
	background:#F0F0F0;
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	box-sizing:border-box;
	width:150px;
	float:left;
	padding:15px;
	margin:0 0 10px 10px;
	text-align:center;
	height:190px;
}


img {
	border:1px solid #C37629;
}