.sidebar, .content {
	min-height:150px;
	float:left;
	padding:10px;
	margin:0;
	box-sizing:border-box;
}

.sidebar {
	width:20%;
	background:#FDCFB9;
	
}

.content {
	width:80%;
	background:#B9C7FD;

}

.row {
	overflow:hidden;
}