section {
	border:1px solid #DBDBDB;
	border-radius:5px;
	font-family:Arial, sans-serif;
	padding:20px;
	font-size:0.8em;
	color:#575757;
}

.row::after {
	content:"";
	clear:both;
	display:block;
}

.product {
	float:left;
	padding:0;
	
	
}

.price, .total {
	float:right;
	
	padding:0;
}

h2, h3 {
	font-weight:normal;
	text-transform:uppercase;
	margin:0;
}

.row {
	padding:10px 0;
	border-top:1px solid #DBDBDB;
}

h2 {
	font-size:18px;
	margin-bottom:10px;
}

h3 {
	font-size:14px;
}

.total {
	font-size:18px;
	color:#4C81F0;
}

.row:nth-child(5) {
	padding-bottom:0;
}