a {
	display:block;
	text-decoration:none;
	color:#4A4A4A;
	font-size:16px;
	border:1px solid #D9D9D9;
	padding:;
}

a {
	border-top:none;
	padding:5px;
}

a:hover {
	background:#C1997B;
	color:white;
}

ul {
	list-style:none;
	margin:0;
	padding:0;

}

h2 {
	margin:0;
	border:1px solid #D9D9D9;
	border-bottom:none;
	background:#F2F2F2;
	font-size:16px;
	text-transform:uppercase;
	text-align:center;
	color:#363636;
	padding:10px;

}

