body {
	background:#F0F0F0;
	margin:0;
}

.top {
	background:#8CCB5E;
	min-height:250px;
}

.center {
	background:white;
	border:3px solid #C2C2C2;
	width:70%;
	margin:auto;
	min-height:300px;
	position:relative;
	top:-100px;
	z-index:10;
}
