p {
	font-size:30px;
	color:red;
	background:lightgrey;
	width:200px;
	height: 200px;
	font-weight:bold;
	border:4px black solid;
	border-radius: 100px;
	text-align:center;
	line-height: 200px;
	position:relative;
	left:400px;
	top:100px;
	box-shadow:10px 10px 50px rgba(0,0,0,0.5);
	animation:vinil 4s linear infinite;
}

@keyframes vinil {
	0% {transform:rotate(0deg);}
	100% {transform:rotate(360deg);}
}

@keyframes around {
	0% {left:0px; top:0px;}
	50% {left:100px; top:30px;}
	100% {left:0px; top:0px;}
}