.row1, .row2, footer {
	padding:10px;
}

.row1 {
	background:#EAE8AE;
	width:100px;
	float:left;

}

.row2 {
	background:#F3CED0;
	margin-left:120px;
	
}

footer {
	background:#AB494E;
	color:white;
	text-align:center;
	
}

img {
	
}

figure {
	padding:10px;
	border:1px solid black;
	background:white;
	text-align:center;
	float:left;
}

section {
	overflow:hidden;
}

