div.block1 {
	position:relative;
	min-height:150px;
	background:#1E90FF;
	border:2px solid black;
	padding:40px;
}

div.block2 {
	position:absolute;
	width:50px;
	height:50px;
	background:#F5E742;
	bottom:0;
	right:0;
}