img {
	vertical-align:middle;
}

.block1, .block2 {
	display:inline-block;
}

.block1 {
	position:relative;
	border:1px solid grey;

}

.block2 {
	position:absolute;
	right:15px;
	bottom:15px;
	width:30px;
	height:30px;
	padding:5px;
	border:1px solid black;
	background:rgba(255,255,255, 0.5);
}