button {
	margin:50px;
	padding:10px 30px;
	background:#CE2029;
	color:white;
	border:0;
	box-shadow:5px 5px 0px rgba(0, 0, 0, 1);
	position:relative;
	transition:1s;
	left:0;
	top:0;
}

button:hover {
	left:5px;
	top:5px;
	box-shadow:0 0 0 rgba(0, 0, 0, 1);
	
}