@keyframes bouncing {
	0% {bottom:0; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);}
	100% {bottom:70px; box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1); }

}

a {
	display:inline-block;
	background:#696969;
	padding:10px 20px;
	margin:100px;
	font:small-caps 24px/1.5 Arial, sans-serif;
	color:white;
	position:relative;
	border-radius:2px;
	animation:bouncing 0.5s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate both;
}