body {
	margin:0;
	background:#F5F5F5;
}

header {
	background:#3B3B3B;
	font-family: Arial, sans-serif;
	color:white;
	padding:20px;
}

h2 {
	font-weight:normal;
	margin:0 auto;
	width:440px;
}

figure {
	position:sticky;
	top:10px;
	width:64px;
	margin:10px;
	float:left;
}

main {
	width:400px;
	min-height:1000px;
	margin:10px auto;
	background:white;
	box-shadow:0 0 5px rgba(0,0,0,0.5);
	padding:20px 20px;
	
}

footer {
	background:#3B3B3B;
	color:white;
	padding:20px;
}