body {
	background:#F2F8F8
}

section {
	width:300px;
	background:white;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
	text-align:center;
	font:normal 16px Arial, sans-serif;
	color:#363636;
	margin:auto;
}

div.border {
	width:30px;
	margin:auto;
	border-bottom:5px dotted #FB533C;
}

p {
	font-size:0.8em;
	padding:20px;
	margin:0;
	color:#575757;
}

h1 {
	font-weight:normal;
	margin-top:10px;
}

a {
	text-decoration:none;
	color:white;
	background:#FB533C;
	padding:10px;
	border-radius:20px;
	display:block;
	width:35%;
	margin:auto;
}