input {
	width:200px;
	background:#EBEBEB;
	border:1px solid #C9C9C9;
	border-radius:4px;
	padding:5px;

}



label {
	margin-right:10px;
	width:100px;
	float:left;
	text-align:right;
	color:#5E5E5E;
	padding:5px 0;
}

.row {
	overflow:hidden;
	margin-bottom:10px;
}

button {
	background:#BA8B3B;
	color:white;
	border:4px solid #D1C6B3;
	border-radius:20px;
	padding:5px 15px;
}

